In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def normalize_z(df):
    ### BEGIN SOLUTION
    dfout = df.copy()
    dfout = (df - df.mean(axis=0)) / df.std(axis=0)
    return dfout
    ### END SOLUTION
    pass

def get_features_targets(df, feature_names, target_names):
    ### BEGIN SOLUTION
    df_feature = df[feature_names]
    df_target = df[target_names]
    ### END SOLUTION
    pass
    return df_feature, df_target

def prepare_feature(df_feature): # X matrix: # rows -> # samples, # cols -> # features
    ### BEGIN SOLUTION
    cols = len(df_feature.columns)
    feature = df_feature.to_numpy().reshape(-1, cols)
    X = np.concatenate((np.ones((feature.shape[0],1)), feature), axis=1)
    return X
    ### END SOLUTION
    pass

def prepare_target(df_target):
    ### BEGIN SOLUTION
    cols = len(df_target.columns)
    target = df_target.to_numpy().reshape(-1, cols)
    return target
    ### END SOLUTION
    pass

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    ### BEGIN SOLUTION
    indexes = df_feature.index
    if random_state != None:
        np.random.seed(random_state)
    k = int(test_size * len(indexes))
    test_index = np.random.choice(indexes, k, replace=False)
    indexes = set(indexes)
    test_index = set(test_index)
    train_index = indexes - test_index
    df_feature_train = df_feature.loc[train_index, :]
    df_feature_test = df_feature.loc[test_index, :]
    df_target_train = df_target.loc[train_index, :]
    df_target_test = df_target.loc[test_index, :]
    ### END SOLUTION
    return df_feature_train, df_feature_test, df_target_train, df_target_test

In [3]:
training_df = pd.read_csv('./train_tfidf_features.csv')
testing_df = pd.read_csv('./test_tfidf_features.csv')

training_df

,id,label,0,1,2,3,4,5,6,7,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,17180,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17180,17181,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17181,17182,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17182,17183,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17183,17184,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# extract the feature and the target
feature_names = [str(i) for i in range(5000)]
training_feature, training_target = get_features_targets(training_df, feature_names, ['label'])

# normalize the feature
training_feature = normalize_z(training_feature)
training_feature

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
1,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
2,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
3,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
4,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
17180,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
17181,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
17182,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603
17183,-0.01805,-0.054553,-0.061929,-0.029953,-0.016957,-0.012997,-0.027258,-0.036861,-0.032768,-0.031672,...,-0.01976,-0.032585,-0.025162,-0.012744,-0.023895,-0.040209,-0.025074,-0.0185,-0.029245,-0.018603

In [20]:
training_target

       label
0          1
1          0
2          1
3          0
4          1
...      ...
17179      0
17180      0
17181      1
17182      1
17183      0

[17184 rows x 1 columns]

In [35]:
feature = prepare_feature(training_feature)
target = prepare_target(training_target)

print(feature)

[[ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]
 [ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]
 [ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]
 ...
 [ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]
 [ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]
 [ 1.         -0.01804995 -0.05455315 ... -0.01850022 -0.02924485
  -0.01860305]]

In [27]:
def log_regression(beta, X): # prediction, output is between 0 and 1
    return 1/(1+np.exp(np.matmul(X, -beta)))

In [38]:
def compute_cost_logreg(beta, X, y):
    np.seterr(divide = 'ignore') 
    ### BEGIN SOLUTION
    num_of_samples = len(y)
    J = -(1/num_of_samples) * np.sum(np.where(y==1, np.log(log_regression(beta,X)), np.log(1-log_regression(beta,X))))
    ### END SOLUTION
    np.seterr(divide = 'warn')
    return J

In [39]:
print(compute_cost_logreg(np.zeros((5001,1)), feature, target))

nan

In [29]:
def gradient_descent_logreg(X, y, beta, alpha, num_iters):
    m = X.shape[0] # number of samples
    J_storage = np.zeros((num_iters,1))
    for i in range(num_iters):
        derivative = (1/m) * np.matmul(np.transpose(X), (log_regression(beta, X) - y))
        beta = beta - alpha * derivative # update the beta 
        J_storage[i] = compute_cost_logreg(beta, X, y)
    return beta, J_storage

In [32]:
iterations = 100
alpha = 0.1
beta = np.zeros((5001,1))
beta, J_storage = gradient_descent_logreg(feature, target, beta, alpha, iterations)

print(beta, J_storage)

[[nan]
 [nan]
 [nan]
 ...
 [nan]
 [nan]
 [nan]] [[nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]]